
<a href="http://www.facebook.com/">
  <br/>
<button id='milosz' type="button" name="Milosz hahahaha">Czesc jestem milosz</button>
</a>
  <br/>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
