
<div id="each-post-show-page">
Title :<%= @picture.title %>
<br>
Description :<%= @picture.description %>
<br>
Created by :<%= @picture.user.email %>
<br>
<%= link_to "back", authenticated_root_path %>
</div>
